	<!DOCTYPE html>
	<html>
	<head>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <!--Import materialize.css-->
	    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection"/>

	    <!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
	</head>

	<body>
	<header>
	    <nav class="cyan">
	        <div class="container">
	            <div class="nav-wrapper">
	                <a href="#" class="brand-logo center">Aleyron Could Service<i class="material-icons">wb_cloudy</i></a>
	            </div>
	        </div>
	    </nav>
	</header>
	<div class="container" id="app">
		<div class="row">
			<blockquote>
		      	Сохраняйте сессию во избежания потери времени!!!
		    </blockquote>
		</div>
	    <div class="row">
	        <div class="col m8 s12">
	            <div class="card hoverable">
	                <div class="card-content">
	                    <span class="card-title">Ввод</span>
	                    <div class="row">
	                        <div class="col m7">
	                            <div class="row">
	                                <div class="input-field col m12 s12">
	                                    <input id="k1" type="text" v-model="plate.number" v-on:input="checkPlateNumber(plate)">
	                                    <label for="k1">Сколько печатных листов</label>
	                                </div>
	                                <div class="input-field col m12 s12">
	                                    <input id="k2" type="text" v-model="plate.size" v-on:input="checkPlateSize(plate)">
	                                    <label for="k2">Сколько помещается на печатном листе</label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col m5">
	                            <div class="row">
	                                <div class="col m12 center-align">
	                                    <span class=" flow-text">Количество видов: <span> {{product_list_size}} </span></span>
	                                </div>
	                            </div>
	                            <div class="row">
	                                <div class="col m6">
	                                    <a class="btn-floating btn-large waves-effect waves-light cyan accent-4 right" v-on:click="add_product_type()"><i class="material-icons">add</i></a>
	                                </div>
	                                <div class="col m6">
	                                    <a class="btn-floating btn-large waves-effect waves-light cyan accent-4 left" v-on:click="remove_product_type()"><i
	                                            class="material-icons">remove</i></a>
	                                </div>
	                            </div>
	                            
	                        </div>
	                    </div>
	                    <!--<div class="row">
	                            <div class="input-field col m12"> 
	                            		<span class="flow-text">Минимизировать</span>
	                            </div>
	                            <div class="row">
		                            <div class="col m6">
		                            	<p>
										    <input class="cyan" name="group1" type="radio" id="test1" checked/>
										   	<label for="test1">	Количесвто листов</label>
										</p>
									</div>
									<div class="col m6">
										<p>
										   	<input class="cyan" name="group1" type="radio" id="test2" disabled/>
										    <label for="test2">Излишки</label>
		    							</p>
	    							</div>
	                            </div>
	                    </div>-->
	                    <div class="row">
	                        <div class="col m12 s12">
	                            <div class="row">
	                                <div class="col m12 s12">
	                                    <table-product-type
	                                        v-bind:arr="product_list"
	                                        >
	                                    </table-product-type>
	                                    <div class="divider"></div>
	                                </div>
	                            </div>
	                            <!--<div class="row">
	                                <div class="col m12">
	                                    <a id="removeSelected" class="waves-effect waves-light btn red right">удалить
	                                        выбранное</a>
	                                </div>
	                            </div>-->
	                        </div>
	                    </div>
	                    <div class="card-action">
	                    	<a class="waves-effect waves-light btn  cyan accent-4" v-on:click="solve" >Просчитать</a>
	                	</div>
	                </div>
	            </div>
	        </div>
	        <div class="col m4 s12">
	        	<div class="row">
		        	<div class="card hoverable col m12">
		                <div class="card-content">
		                    <span class="card-title">Опции</span>
		                    <div class="row">
	                    		<div class="col m12">
		                            <p>
										<input checked class="cyan" name="group1" type="radio" id="test1" v-on:change="val => {devide = val}" />
										<label for="test1">Чужой оборот</label>
									</p>
									<p>
										<input class="cyan" name="group1" type="radio" id="test2" disabled="" />
										<label for="test2">Свой оборот</label>
		    						</p>
		    						<p>
		    							<div class="input-field inline">
							            	<a class="waves-effect waves-light btn cyan accent-4" href="print.html" vtarget="_blank">Печать</a>
										</div>
		    						</p>
								</div>
		                    </div>
		                </div>
		            </div>
	            </div>
	            <div class="row">
		        	<div class="card hoverable col m12">
		                <div class="card-content">
		                    <span class="card-title">Сессия</span>
		                    <div class="row">
		                    	<div class="col m12">
		                    		<!-- Modal Trigger -->
								  	<a class="waves-effect waves-light btn modal-trigger cyan accent-4" href="#session-modal">Сохранить</a>
								  	<!-- Modal Structure -->
								  	<div id="session-modal" class="modal">
								  		<div class="modal-content">
								      		<h4>Ваша сессия</h4>
								      		<div class="input-field">
									        	<input id="last_name" type="text" class="validate" :value="code_string(JSON.stringify(this.$data))">
									        	<label for="last_name">Сессия</label>
									        </div>
								      		<!--<div class="input-field">
								      			<textarea id="in-session-text-area" class="materialize-textarea">{{JSON.stringify(this.$data)}}</textarea>
								      			<label for="in-session-text-area"></label>
								      		</div>-->
								      		<p>Сохраните набор символов с верху</p>
								    	</div>
								    	<div class="modal-footer">
								    		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Закрыть</a>
								    	</div>
								  	</div>
								</div>
		                    </div>
		                    <div class="divider"></div>
		                    <div class="row">
		                    	<div class="col m12">
		                    		<div class="input-field inline">
							            <input id="inSession" type="text" v-model="inSession" >
							            <label for="inSession" data-error="wrong" data-success="right">Вставте сессию</label>
          							</div>
          							<div class="input-field inline">
							            <a class="waves-effect waves-light btn cyan accent-4" v-on:click="load_session">Загрузить Сессию</a>
          							</div>
		                    	</div>
		                    </div>
		                </div>
		            </div>
	            </div>
	        </div>
	    </div>
	    <div class="row">
	    	<div class="col m12">
	    		<div class="card hoverable">
		    		<div class="card-content">
		    			<span class="card-title">Нужные числа</span>
		    			<div class="row">
	                    	<div class="col m12 center-align">
	                    		<!--<table-plate-result v-bind:result="result[0]" v-bind:plate_id="0"></table-plate-result>-->
	                    		<div class="col m5">
	                    		<span class="flow-text text-accent-4 ">Общий тираж: <span>{{productSum}}</span></span>
	                    		</div>
	                    		<div class="col m3">
	                    		<span class="flow-text green-text text-accent-4 ">Всего листов: <span>{{pageSum}}</span></span>
	                    		</div>
	                    		<div class="col m4">
	                    		<span class="flow-text red-text text-accent-4">Всего излишки: <span>{{overSum}}</span></span>
	                    		</div>
	                    	</div>
	                    </div>
		    		</div>
	    		</div>
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col m12">
		    	<div class="card hoverable">
		    		<div class="card-content">
	                    <span class="card-title">Результат</span>
	                    <div class="row">
	                    	<div class="col m12 center-align">
	                    		<ul class="collapsible popout" data-collapsible="accordion">
	                    			

	                    			<plate-result-view 
	                    				v-for="plate in plateRes"
	                    				v-bind:plate="plate"
	                    				v-bind:key="plate.id">
	                    			</plate-result-view>

	                    		</ul>
	                    	</div>
	                    </div>
	                
	                </div>
		    	</div>
		   	</div>
	    </div>
	</div>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/materialize.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script>
	    if (!String.prototype.format) {
	        String.prototype.format = function () {
	            var args = arguments;
	            return this.replace(/{(\d+)}/g, function (match, number) {
	                return typeof args[number] != 'undefined'
	                    ? args[number]
	                    : match
	                    ;
	            });
	        };
	    };
		$(document).ready(function(){
    		// the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    		$('.modal').modal();
  		});

	    Vue.component('input-product-type', {
	        props: ['type'],
	        template: '<tr :id="type.id"><td><div class="input-field"><input type="text" v-model="type.name"></div></td><td><div class="input-field"><input type="text" v-model="type.number" v-on:input="checkNumber(type)"></div></td></tr>',
	        methods: {
	            checkNumber: function (type) {
	                a = type.number;
	                s = '';
	                for (var i = 0; i < a.length; ++i) {
	                    if (a[i] < '0' || a[i] > '9') {
	                        //break;
	                    } else {
	                    	if (s === '' && a[i] === '0') {
	                    		continue;
	                    	}
	                        s = s + (a[i]);
	                    }
	                }
	                if (s === '')
	                	s = '0';
	                type.number = s;
	            }
	        },
	    });

	    Vue.component('table-product-type', {
	        props: ['arr'],
	        template: '<table class="highlight centered"><thead><tr><th><span>Вид</span></th><th>Тираж</th></tr></thead><tbody id="list"><input-product-type v-for="item in arr" v-bind:type="item" v-bind:key="item.id"></input-product-type></tbody></table>'
	    });

	    Vue.component('result-row', {
	    	props: ['type'],
	    	template: '<tr><td><span>{{type.tname}}</span></td><td><span>{{type.number}}</span></td><td><span>{{type.over}}</span></td></tr>'
	    });
	    Vue.component('table-plate-result', {
	    	props: ['plate'],
	    	template: '<table class="highlight centered"><thead><tr><th><span>Вид</span></th><th><span>Количество на пластине</span></th><th><span>Излишки</span></th></tr></thead><tbody><result-row v-for="type in plate.types" v-bind:type="type" v-bind:key="type.tname"></result-row></tbody></table>'
	    });

	    Vue.component('plate-result-view', {
	    	props: ['plate'],
	    	template: '<li><div class="collapsible-header"><span>Печатная пластина #{{plate.id}}</span></div><div class="collapsible-body"><div class="row"><div class="col m12 center-align"> <!--<table-plate-result v-bind:result="result[0]" v-bind:plate_id="0"></table-plate-result>--> <div class="col m6"> <span class="flow-text green-text text-accent-4 ">листов: <span>{{plate.pageSum}}</span></span> </div> <div class="col m6"> <span class="flow-text red-text text-accent-4">излишки: <span>{{plate.overSum}}</span></span> </div> </div> </div> <div class="row"> <div class="col m12"> <table-plate-result v-bind:plate="plate"> </table-plate-result> </div> </div> </div> </li>',
	    });
	    var app = new Vue({
	        el: '#app',
	        data: {
	        	plate: {
	        		number: 0,
	            	size: 0,
	        	},
	            product_list_size: 0,
	            product_list: [
	            ],
	            result: [],
	            pageSum: 0,
	            overSum: 0,
	            productSum: 0,
	            plateRes: [],
	            inSession: '',
	            devide: true,
	            
	        },
	        methods: {
	            add_product_type: function () {
	            	app.product_list_size++;
	                app.product_list.push({id:app.product_list_size, name:app.product_list_size, number:0});
	            },

	            remove_product_type: function () {
	                if (app.product_list_size === 0)
	                    return;
	                app.product_list_size--;
	                app.product_list.pop();
	            },

	            solve: function () {
	                var cnt = app.plate.number;
	                var k = app.plate.size;
	                var a = [];
	                var b = [];
	                if (app.product_list_size == 0) {
	                	//alert("нечего просчитывать");
	                	Materialize.toast('нечего просчитывать', 5000)
	                	return;
	                }
	                if (cnt * k  < app.product_list_size) {
	                	Materialize.toast('нет решения', 10000);
	                	return;
	                }
	                for (var i = 0; i < app.product_list_size; ++i) {
	                    if (app.product_list[i].number === '') {
	                        //alert('не введено количество у вида с названием "' + app.product_list[i].name + '"');
	                        Materialize.toast('не введено количество у вида с названием "' + app.product_list[i].name + '"', 10000)
	                    }
	                    a.push([app.product_list[i].number, [app.product_list[i].id, app.product_list[i].name]]);
	                }
	                a.sort();
	                var checkPlate = function (ql, qr) {
	                	var l, r;
	        		    l = 0;
	    	        	r = 1000000;
		            	var m = -1;
		            	var check = function (m) {
	                		var sum = 0;
	            	    	for (var i = ql; i < qr; ++i) {
		        	            sum += Math.ceil(a[i][0] / m);
	    		            }
		    	            return sum <= k;
	            		}
	            		while (r - l > 1) {
			                m = ((r + l) >> 1);
			                if (check(m, k)) {
			                    r = m;
			                } else {
			                    l = m;
			                }
			            }
			            /*
						var sum = 0;
		                for (var i = 0; i < a.length; ++i) {
		                    $('#solv').append('<tr><td><span>{0}</span></td><td><span>{1}</span></td><td><span>{2}</span></td></tr>'.format(typename[i], Math.ceil(e[i] / m), m * Math.ceil(e[i] / m) - e[i]));
		                    sum += m * Math.ceil(e[i] / m) - e[i];
		                }
			            */
			            if (check(r, k)) {
			                var sum = 0;
			                for (var i = ql; i < qr; ++i) {
			                    sum += r * Math.ceil(a[i][0] / r) - a[i][0];
			                }
			                return sum;
			            } else {
			                return 1000000000;
			            }
	                };
	                var checkPlateM = function (ql, qr) {
	                	var l, r;
	        		    l = 0;
	    	        	r = 1000000;
		            	var m = -1;
		            	var check = function (m) {
	                		var sum = 0;
	            	    	for (var i = ql; i < qr; ++i) {
		        	            sum += Math.ceil(a[i][0] / m);
	    		            }
		    	            return sum <= k;
	            		}
	            		while (r - l > 1) {
			                m = ((r + l) >> 1);
			                if (check(m, k)) {
			                    r = m;
			                } else {
			                    l = m;
			                }
			            }
			            /*
						var sum = 0;
		                for (var i = 0; i < a.length; ++i) {
		                    $('#solv').append('<tr><td><span>{0}</span></td><td><span>{1}</span></td><td><span>{2}</span></td></tr>'.format(typename[i], Math.ceil(e[i] / m), m * Math.ceil(e[i] / m) - e[i]));
		                    sum += m * Math.ceil(e[i] / m) - e[i];
		                }
			            */
			            if (check(r, k)) {
			                return r;
			            } else {
			                return 1000000000;
			            }
	                };
	                var dp = [];
	                var p = [];
	                for (var i = 0; i < app.product_list_size; ++i) {
	                	dp.push([]);
	                	p.push([]);
	                }
	                for (var i = 0; i < app.product_list_size; ++i) {
	                	for (var j = 0; j < cnt; ++j) {
	                		dp[i][j] = 1000000000;
	                	}
	                }
	                for (var i = 0; i < app.product_list_size; ++i) {
	                	dp[i][0] = checkPlate(0, i + 1);
	                }
	                p[0][0] = -1;
	                for (var i = 1; i < app.product_list_size; ++i) {
	                	for (var j = 1; j < cnt; ++j) {
	                		for (var l = i; l > 0; --l) {
	                			if ((i - l + 1 <= k) && dp[i][j] > dp[l - 1][j - 1] + (a[i][0] - a[l][0])) {//checkPlate(l, i + 1)) {
	                				p[i][j] = l - 1;
	                				dp[i][j] = dp[l - 1][j - 1] + (a[i][0] - a[l][0]);//checkPlate(l, i + 1);
	                			}
	                			//dp[i][j] = Math.min (dp[i][j], dp[l - 1][j - 1] + checkPlate(l, i + 1));
	                		}
	                	}
	                }
	                if (dp[app.product_list_size - 1][cnt - 1] >= 1000000000)
	                	Materialize.toast('нет рещения!!!', 4000)
	                else {
	                	var j = app.product_list_size - 1;
	                	var c = cnt - 1;
	                	var l = p[j][c];
	                	app.result = [];
	                	for (var i = 0; i < cnt; ++i)
	                		app.result.push([]);
	                	while (j >= 0) {
	                		if (j == l) {
	                			c--;
	                			//app.result[c] = [];
	                			l = p[j][c];
	                		}
	                		//console.log(app.result);
	                		app.result[c].push(a[j]);
	                		//console.log(app.result);
	                		j--;
	                	}

	                } 

	                var update = function (id) {
	                	var e = [];
	                	var getM = function () {
		                	var l, r;
		        		    l = 0;
		    	        	r = 1000000;
			            	var m = -1;
			            	var check = function (m) {
		                		var sum = 0;
		            	    	for (var i = 0; i < app.result[id].length; ++i) {
			        	            sum += Math.ceil(app.result[id][i][0] / m);
		    		            }
			    	            return sum <= k;
		            		}
		            		while (r - l > 1) {
				                m = ((r + l) >> 1);
				                if (check(m, k)) {
				                    r = m;
				                } else {
				                    l = m;
				                }
				            }
				            if (check(r, k)) {
				                return r;
				            } else {
				                return 1000000000;
				            }
		                };
		                var m = getM();
		                app.plateRes[id].pageSum = m;
		                app.plateRes[id].overSum = 0;
		                app.plateRes[id].types = [];
		                app.plateRes[id].id = id + 1;
		                //console.log(123);
		                for (var i = 0; i < app.result[id].length; ++i) {
		                	app.plateRes[id].types.push({});
		                }

		                for (var i = 0; i < app.result[id].length; ++i) {
		                	//console.log(app.plateRes[id].types[i]);
		                	app.plateRes[id].types[i].over = Math.ceil(app.result[id][i][0]/m) * m - app.result[id][i][0];
		                	app.productSum += Math.ceil(app.result[id][i][0]/m) * m;
		                	app.plateRes[id].types[i].number = Math.ceil(app.result[id][i][0]/m);
		                	app.plateRes[id].types[i].tname = app.result[id][i][1][1];
		                	app.plateRes[id].overSum += app.plateRes[id].types[i].over;

		                }
		                app.overSum += app.plateRes[id].overSum;
		                app.pageSum += app.plateRes[id].pageSum;
	                };
	                app.plateRes = [];
	                app.overSum = 0;
	                app.pageSum = 0;
	                app.productSum = 0;
	                for (var i = 0; i < cnt; ++i) {
	                	app.plateRes.push({});
	                	update(i);
	                }
	            },
	            checkPlateNumber: function (plate) {
	                a = plate.number;
	                s = '';
	                for (var i = 0; i < a.length; ++i) {
	                    if (a[i] < '0' || a[i] > '9') {
	                        //break;
	                    } else {
	                    	if (s === '' && a[i] === '0') {
	                    		continue;
	                    	}
	                        s = s + (a[i]);
	                    }
	                }
	                if (s === '')
	                	s = '0';
	                plate.number = s;
	                //console.log(s);
	            },
	            checkPlateSize: function (plate) {
	                a = plate.size;
	                s = '';
	                for (var i = 0; i < a.length; ++i) {
	                    if (a[i] < '0' || a[i] > '9') {
	                        //break;
	                    } else {
	                    	if (s === '' && a[i] === '0') {
	                    		continue;
	                    	}
	                        s = s + (a[i]);
	                    }
	                }
	                if (s === '')
	                	s = '0';
	                plate.size = s;
	                //console.log(s);
	            },

				load_session: function () {
					try {
					var session = JSON.parse(this.	decode_string(this.inSession));
					} catch (e) {
						Materialize.toast('Сессия не ведина или не правильная', 5000);
						return;
					}
					Object.assign(this.$data, session);
					this.solve();
				},

				code_int: function(x) {
					var e = "0123456789ABCDEF";
					var s = '';
					while(x > 0) {
						s = s + e[x%16];
						x = Math.floor(x/16)
					} 
					return s;
				},

				decode_int: function(x) {
					var e = {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4,
						'5': 5, '6': 6, '7': 7, '8': 8, '9': 9,
						'A': 10, 'B': 11, 'C': 12, 'D': 13, 'E': 14, 'F': 15};
					return e[x[0]] + e[x[1]]*16;
				},

				code_string: function (x) {
					var s = '';
					for (var i = 0; i < x.length; ++i) {
						s = s + this.code_int(x.charCodeAt(i));
					}
					return s;
				},

				decode_string: function (x) {
					var s = '';
					for (var i = 1; i < x.length; i += 2) {
						s = s + String.fromCharCode(this.decode_int(x[i - 1] + x[i]));
					}
					return s;
				},
	        }

	    });
	</script>
	</body>
	</html>

